{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Domino's Pizza - ADMIN</title>
  <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
<div class="banner" >
  <a href="/home/" style="text-decoration: none;">
    <img src="{% static 'images/Domino_pizza_logo.png' %}" style="width:40px;height:40px; margin-left: 5px;" alt="Domino's Pizza">
    <span class="logodes"><b>Domino's Pizza</b></span>
  </a>
  <span class="des"> <b>HI ADMIN: {{request.user.username}}</b></span>
  <span> <a href="{% url 'dishes' %}" class="des"><b>ĐƠN ĐẶT HÀNG</b></a></span>
  <span> <a href="/" class="des"><b>ĐĂNG XUẤT</b></a></span>
</div>

</body>
</html>