{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    .banner  {
      background-color: #57296d; 
      height: 80px;
      width: 100%;
      color: white;
      display: flex;
      align-items: center;     
      font-size: 24px;
      padding-right: 15px;      
    }
    .des  {
      color: white;
      display: flex;
      margin-left: 100px;
      text-decoration: none;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  </style>
</head>
<body>
<div class="banner" style="display: flex;">
  <a href="/" style="text-decoration: none;">
    <img src="{% static 'images/Domino_pizza_logo.png' %}" style="width:40px;height:40px; margin-left: 5px;" alt="Domino's Pizza">
    <span style="vertical-align: baseline; font-size: 30px; color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><b>Domino's Pizza</b></span>
  </a>
  <span> <a href="/dishes/" class="des""><b>THỰC ĐƠN</b></a></span>
  <span> <a href="{% url 'comingsoon' %}" class="des""><b>KHUYẾN MÃI</b></a></span>
  <span> <a href="{% url 'view_cart' %}" class="des""><b>GIỎ HÀNG</b></a></span>
</div>

{% block content %}
{% endblock %}

</body>
</html>
