{% extends "home.html" %}

{% load static %}

{% block title %}
  
  Domino's Pizza - List of all dishes
{% endblock %}


{% block content %}
<ul>
  {% for x in pizzalist %}
    <div class="custom-block">
      <span class="pizza-name">{{ x.name }}</span>
      <span class="pizza-price">{{ x.price }}</span>
    </div>
      <span> 
        <a href="{% url 'carting' id=x.id%}">
          <img src="{% static 'images/themvaogiohang.jpg' %}" class="custom-image"  alt="Cartingthings">
        </a>
      </span>
      <span> 
        <a href="{% url 'uncarting' id=x.id%}" >
          <img src="{% static 'images/uncarting.jpg' %}" class="custom-image"  alt="Uncartingthings">
        </a>
      </span>
   {% endfor %}
</ul>
{% endblock %}
</body>
</html>
