body {
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding-top: 80px;        
    background-color: white;
    font-family: Arial, sans-serif;
}
.banner  {
      background-color: #57296d;
      height: 80px;
      width: 100vw;         
      position: relative;
      left: 0;
      margin: 0;
      padding-right: 15px;
      color: white;
      display: flex;
      align-items: center;
      font-size: 24px;
}
.des  {
      color: white;
      display: block;
      margin-left: 75px;
      text-decoration: none;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logodes {
      vertical-align: baseline;
      font-size: 30px; 
      color: white; 
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logodes2 {
      text-align: center;
      font-size: 100px; 
      color: rgb(0, 0, 0); 
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.full-width-img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      display: block;
      margin: 0;
}
.custom-image    {
      background-color: white;
      width: 50px;
      height: 50px;
      margin-top: 7px;
      margin-bottom: 20px;
}
.custom-block { 
      justify-content: space-between;
      margin-left: -35px;
      font-size: 200%; 
      text-decoration: none; 
      color: rgb(255, 255, 255); 
      background-color: rgb(63, 122, 7); 
      border-radius: 15px; 
      padding: 10px 30px; 
      display: flex;
}
.pizza-name {
      font-weight: bold;
}
.pizza-price {
      font-weight: bold;
      margin-left: 20px;
}
.text-design     {
      text-decoration: none;
      color: black;
      font-size: 200%;
      text-align: center;
      padding: 10px 30px;
      background-color: chocolate;
      border-radius: 15px;
}
.cart-design     {
      font-size: 30px;
}

.login-des {
    font-size: 1.6rem;
    font-weight: 600;
    color: #222;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;     
    align-items: center;         
    gap: 15px;                   
}

.login-text-des {
    width: 300px;                
    padding: 12px 16px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 16px;             
    background-color: #fff;
    text-align: center;           
}

.order-button {
  background-color: #ff5722;       
  color: white;                    
  border: none;                  
  padding: 12px 24px;             
  font-size: 50px;                
  font-weight: bold;               
  border-radius: 8px;                            
}